body {
    background: url("../background.png") no-repeat center center fixed; 
    background-size: cover;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    text-align: -webkit-center;
}

a {
    text-decoration: none;
}

.message {
	font-size: 1.4rem;
	color: #000000;
	line-height: 2.5rem;
	letter-spacing: .1px;
	padding: 2.5rem 3rem;
	border-radius: 6rem;
    background-color: rgb(255, 255, 255);
    width: 45rem;
    margin-bottom: 2rem;
}

.action {
    font-size: 1.4rem;
	color: #000000;
	line-height: 1.25rem;
	letter-spacing: .1px;
	padding: 1.25rem 1.5rem;
	border-radius: 6rem;
    background-color: rgb(255, 255, 255);
    width: 15rem;
    text-align: left;
    border-color: rgb(255, 255, 255);
    border-width: 0.2rem;
}

.action:hover {
    border-color: rgb(0, 0, 0);
    border-width: 0.2rem;
}

.moon {
    background-image: url("../moon.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}

.chan {
    background-image: url("../chan.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}

.donate {
    background-image: url("../donate.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}

.discord {
    background-image: url("../discord.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}

.fighting {
    display: inline-flex;
    margin-left: 5rem;
}